.login-container {
  display: flex;

  height: 100vh;
  border: 1px solid gainsboro;
}

.login-form {
  padding: 2rem;
  width: 380px;
  background-color: #f7f8f9 !important;
}

.login-form h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
  color: #1D2226;
}
.login-form p {
  color: #888;
  margin-bottom: 1.5rem;
  text-align: left;
}
.fieldset-wrapper {
  margin-bottom: 1.5rem;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 8px;
  position: relative;

}
.fieldset-wrapper fieldset:focus-within {
  border-color: #6C25FF;
}

legend {
  padding: 0 0.5rem;
  font-size: 0.9rem;
  color: #6C25FF;
      margin-left: 0.5rem;


       background: #f7f8f9; /* match form bg to avoid overlap */
  /* position: absolute;
  top: -0.6rem; */
}



.fieldset-wrapper input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: transparent;
  padding: 0.2rem 0;
  /* margin-top: 0.2rem; */
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.loginBtn {
  width: 100%;
  padding: 0.8rem;
  background-color: #919191 !important;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.loginBtn:hover {
  background-color: #551ccf !important;
  border: none;
}

.error {
  color: red;
  text-align: center;
  margin-top: 1rem;
}

.success {
  color: green;
  text-align: center;
  margin-top: 1rem;
}








